.idea/
*.iml
*.log
.DS_Store

backend/.gradle/
backend/build/
backend/out/
backend/generated/
backend/bin/
backend/gradle.properties

frontend/node_modules/
frontend/.astro/
frontend/.next/
frontend/dist/
frontend/build/
frontend/.env
frontend/.env.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*