openapi: 3.1.0
info:
  title: Modtale API
  version: v1
  description: Complete programmatic access to the Hytale community repository.
servers:
  - url: https://api.modtale.net
    description: Production Server
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-MODTALE-KEY
      description: Include your API key to identify your client and get higher limits.
  schemas:
    Project:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        classification:
          type: string
          enum: [PLUGIN, DATA, ART, SAVE, MODPACK]
        description:
          type: string
        status:
          type: string
        author:
          type: string
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        avatarUrl:
          type: string
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
security:
  - ApiKeyAuth: []
paths:
  /api/v1/tags:
    get:
      summary: Retrieve allowed project tags
      description: Retrieve the strictly enforced list of allowed project tags.
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: ["Adventure", "RPG", "Sci-Fi", "Fantasy"]
  /api/v1/meta/classifications:
    get:
      summary: Get allowed project types
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: ["PLUGIN", "DATA", "ART", "SAVE", "MODPACK"]
  /api/v1/meta/game-versions:
    get:
      summary: Get supported game target versions
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              example: ["2026.01.13-dcad8778f", "2026.01.17-4b0f30090"]
  /api/v1/wiki/{slug}:
    get:
      summary: Proxy request to the Hytale Modding Wiki API to fetch metadata
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/wiki/{slug}/{pagePath}:
    get:
      summary: Proxy request to the Hytale Modding Wiki API to fetch a specific page
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
        - name: pagePath
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/status:
    get:
      summary: Get system health and latency statistics
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              example:
                overall: "operational"
                services:
                  - id: "api"
                    status: "operational"
                    latency: 12
                timestamp: 1740000000000
  /api/v1/projects:
    get:
      summary: Search projects
      description: Search projects with advanced filtering. Authentication is required only for specific 'category' filters like Favorites.
      security:
        - ApiKeyAuth: []
        - {}
      parameters:
        - name: search
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 10
            maximum: 100
        - name: sort
          in: query
          schema:
            type: string
            enum: [relevance, downloads, updated, newest, rating, favorites]
        - name: classification
          in: query
          schema:
            type: string
            enum: [PLUGIN, DATA, ART, SAVE, MODPACK]
        - name: tags
          in: query
          schema:
            type: string
        - name: gameVersion
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
        - name: author
          in: query
          schema:
            type: string
        - name: creator
          in: query
          schema:
            type: string
        - name: minDownloads
          in: query
          schema:
            type: integer
        - name: minFavorites
          in: query
          schema:
            type: integer
        - name: dateRange
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y, all]
      responses:
        "200":
          description: OK
    post:
      summary: Initialize a new project Draft
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [title, classification, description]
              properties:
                title:
                  type: string
                classification:
                  type: string
                  enum: [PLUGIN, DATA, ART, SAVE, MODPACK]
                description:
                  type: string
                owner:
                  type: string
                slug:
                  type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}:
    get:
      summary: Get full project details
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
    put:
      summary: Update project metadata
      description: Short Description max 250 chars. Full Description (about) max 50,000 chars. Repo URL must be valid HTTPS.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                about:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                license:
                  type: string
                repositoryUrl:
                  type: string
                slug:
                  type: string
      responses:
        "200":
          description: OK
    delete:
      summary: Delete a project
      description: If the project is a dependency for other active projects, it will be 'Soft Deleted' to prevent breaking modpacks.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/meta:
    get:
      summary: Get a lightweight metadata payload for a project
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/versions/{version}/dependencies:
    get:
      summary: Get dependencies mapped to a specific project version
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: version
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/user/contributed:
    get:
      summary: Get user contributed projects
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 100
      responses:
        "200":
          description: OK
  /api/v1/creators/{userId}/projects:
    get:
      summary: Get creator projects
      security: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/publish:
    post:
      summary: Publish a project (Requires Admin, or restoring an Unlisted/Archived project)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/submit:
    post:
      summary: Submit a project for admin review
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/revert:
    post:
      summary: Revert a PENDING project back to DRAFT state
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/archive:
    post:
      summary: Archive a project
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/unlist:
    post:
      summary: Unlist a project
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/icon:
    put:
      summary: Upload project icon
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/banner:
    put:
      summary: Upload project banner
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/gallery:
    post:
      summary: Add an image to the gallery
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
    delete:
      summary: Remove an image from the gallery
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: imageUrl
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/og/project/{identifier}:
    get:
      summary: Dynamically generate an Open Graph image for the project card
      security: []
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
  /api/v1/projects/{id}/versions:
    post:
      summary: Upload a new version
      description: Handles file uploads for mods/art/data and dependency linking for modpacks.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [versionNumber, gameVersions]
              properties:
                versionNumber:
                  type: string
                gameVersions:
                  type: array
                  items:
                    type: string
                changelog:
                  type: string
                channel:
                  type: string
                  enum: [RELEASE, BETA, ALPHA]
                  default: RELEASE
                file:
                  type: string
                  format: binary
                modIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/versions/{versionId}:
    put:
      summary: Update version metadata
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                modIds:
                  type: array
                  items:
                    type: string
                gameVersions:
                  type: array
                  items:
                    type: string
                channel:
                  type: string
      responses:
        "200":
          description: OK
    delete:
      summary: Delete a version
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/versions/{version}/download-url:
    get:
      summary: Generate a temporary signed download link
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: version
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/download/{token}:
    get:
      summary: Download a file or modpack zip using a pre-signed token
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/projects/{id}/versions/{version}/download-bundle-url:
    get:
      summary: Generate a temporary signed download link to download a mod and all its dependencies bundled
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: version
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/download-bundle/{token}:
    get:
      summary: Download a bundled zip using a pre-signed token
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/version/{hash}:
    get:
      summary: Lookup version details by file hash
      parameters:
        - name: hash
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/roles:
    post:
      summary: Create a custom role for a project
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/roles/{roleId}:
    put:
      summary: Update a project role
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: roleId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK
    delete:
      summary: Delete a project role
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: roleId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/invite:
    post:
      summary: Invite a contributor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                roleId:
                  type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/invites/{userId}:
    delete:
      summary: Cancel a pending invite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/invite/accept:
    post:
      summary: Accept a contribution invite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/invite/decline:
    post:
      summary: Decline a contribution invite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/contributors/{userId}:
    put:
      summary: Update a team member's role
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                roleId:
                  type: string
      responses:
        "200":
          description: OK
    delete:
      summary: Remove a contributor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/transfer:
    post:
      summary: Initiate ownership transfer
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/transfer/resolve:
    post:
      summary: Accept or decline a transfer request
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accept:
                  type: boolean
      responses:
        "200":
          description: OK
  /api/v1/orgs:
    post:
      summary: Create a new Organization
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "200":
          description: OK
  /api/v1/user/orgs:
    get:
      summary: List organizations you belong to
      responses:
        "200":
          description: OK
  /api/v1/users/{userId}/organizations:
    get:
      summary: List organizations another user belongs to
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/members:
    get:
      summary: Get members of an organization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/invites:
    get:
      summary: Get pending invites for an organization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/roles:
    post:
      summary: Create a custom role for an organization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/roles/{roleId}:
    put:
      summary: Update an organization role
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: roleId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                permissions:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK
    delete:
      summary: Delete an organization role
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: roleId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/members:
    post:
      summary: Invite a user to the organization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                roleId:
                  type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/members/{userId}:
    put:
      summary: Update member role
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                roleId:
                  type: string
      responses:
        "200":
          description: OK
    delete:
      summary: Remove member / Leave organization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}:
    put:
      summary: Update organization profile
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                bio:
                  type: string
      responses:
        "200":
          description: OK
    delete:
      summary: Delete organization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/avatar:
    post:
      summary: Upload organization avatar
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/banner:
    post:
      summary: Upload organization banner
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/invite/accept:
    post:
      summary: Accept an invite to an organization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/invite/decline:
    post:
      summary: Decline an invite to an organization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/invites/{userId}:
    delete:
      summary: Cancel a pending organization invite
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/link/prepare:
    post:
      summary: Prepare a session to link an OAuth account to an organization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/connections/{provider}/toggle-visibility:
    post:
      summary: Toggle visibility of an organization connection
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/connections/{provider}:
    delete:
      summary: Unlink an OAuth connection from an organization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/orgs/{orgId}/repos/github:
    get:
      summary: Get the organization's GitHub repositories
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/users/search:
    get:
      summary: Public user search
      security: []
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/users/batch:
    post:
      summary: Batch retrieve user profiles
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: OK
  /api/v1/users/lookup/{username}:
    get:
      summary: Resolve a username to a user ID
      security: []
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/user/me:
    get:
      summary: Get authenticated user details
      responses:
        "200":
          description: OK
    delete:
      summary: Permanently delete user account
      responses:
        "200":
          description: OK
  /api/v1/user/profile/{userId}:
    get:
      summary: Get public user profile details
      security: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/user/profile:
    put:
      summary: Update profile settings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                bio:
                  type: string
      responses:
        "200":
          description: OK
  /api/v1/user/profile/avatar:
    post:
      summary: Upload user avatar
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
  /api/v1/user/profile/banner:
    post:
      summary: Upload user banner
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
  /api/v1/user/connections/{provider}/toggle-visibility:
    post:
      summary: Toggle visibility of an OAuth connection on your profile
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/user/connections/{provider}:
    delete:
      summary: Unlink an OAuth connection
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/users/{userId}/following:
    get:
      summary: Get list of users this user follows
      security: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/users/{userId}/followers:
    get:
      summary: Get list of users following this user
      security: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/user/settings/notifications:
    put:
      summary: Update notification preferences
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                projectUpdates:
                  type: string
                newFollowers:
                  type: string
                dependencyUpdates:
                  type: string
                creatorUploads:
                  type: string
                newComments:
                  type: string
      responses:
        "200":
          description: OK
  /api/v1/user/follow/{targetId}:
    post:
      summary: Follow a user
      parameters:
        - name: targetId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/user/unfollow/{targetId}:
    post:
      summary: Unfollow a user
      parameters:
        - name: targetId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/user/repos/github:
    get:
      summary: Get the authenticated user's GitHub repositories
      responses:
        "200":
          description: OK
  /api/v1/user/repos/gitlab:
    get:
      summary: Get the authenticated user's GitLab repositories
      responses:
        "200":
          description: OK
  /api/v1/user/repos:
    get:
      summary: Alias for /api/v1/user/repos/github
      responses:
        "200":
          description: OK
  /api/v1/notifications:
    get:
      summary: Retrieve user notifications
      responses:
        "200":
          description: OK
  /api/v1/notifications/{id}/read:
    post:
      summary: Mark notification as read
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/notifications/{id}/unread:
    post:
      summary: Mark notification as unread
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/notifications/read-all:
    post:
      summary: Mark all notifications as read
      responses:
        "200":
          description: OK
  /api/v1/notifications/{id}:
    delete:
      summary: Delete a single notification
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/notifications/clear-all:
    delete:
      summary: Delete all notifications
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/analytics:
    get:
      summary: Get public stats for a project
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: range
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/favorite:
    post:
      summary: Toggle favorite status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/comments:
    post:
      summary: Post a comment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/comments/{commentId}:
    put:
      summary: Edit your comment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
      responses:
        "200":
          description: OK
    delete:
      summary: Delete a comment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/comments/{commentId}/reply:
    post:
      summary: Developer reply to a comment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reply:
                  type: string
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/comments/{commentId}/vote:
    post:
      summary: Upvote or downvote a user comment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          schema:
            type: string
        - name: upvote
          in: query
          required: true
          schema:
            type: boolean
      responses:
        "200":
          description: OK
  /api/v1/projects/{id}/comments/{commentId}/reply/vote:
    post:
      summary: Upvote or downvote a developer reply
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: commentId
          in: path
          required: true
          schema:
            type: string
        - name: upvote
          in: query
          required: true
          schema:
            type: boolean
      responses:
        "200":
          description: OK