name: Modtale CI/CD

on:
  push:
    branches:
      - main
      - develop
      - '*'

env:
  PROJECT_ID: gen-lang-client-0244308719
  REGION: us-central1

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v4

      - name: Configure Environment
        id: config
        run: |
          BRANCH_NAME=${GITHUB_REF#refs/heads/}
          echo "Detected branch: $BRANCH_NAME"
          
          if [ "$BRANCH_NAME" = "main" ]; then
            echo "ENV_TYPE=prod" >> $GITHUB_ENV
            echo "BACKEND_SERVICE=modtale-backend" >> $GITHUB_ENV
            echo "FRONTEND_SERVICE=modtale-frontend" >> $GITHUB_ENV
            echo "DB_NAME=modtale" >> $GITHUB_ENV
            echo "SEEDING_ENABLED=false" >> $GITHUB_ENV
            echo "FIXED_BACKEND_URL=https://api.modtale.net/api/v1" >> $GITHUB_ENV
            echo "FRONTEND_DOMAIN=https://modtale.net" >> $GITHUB_ENV
            echo "TAG=latest" >> $GITHUB_ENV
            echo "R2_BUCKET_NAME=modtale-binaries" >> $GITHUB_ENV
            echo "R2_PUBLIC_DOMAIN=https://cdn.modtale.net" >> $GITHUB_ENV
            echo "WARDEN_SECRET_NAME=WARDEN_API_KEY" >> $GITHUB_ENV
            
          elif [ "$BRANCH_NAME" = "develop" ]; then
            echo "ENV_TYPE=dev" >> $GITHUB_ENV
            echo "BACKEND_SERVICE=modtale-backend-dev" >> $GITHUB_ENV
            echo "FRONTEND_SERVICE=modtale-frontend-dev" >> $GITHUB_ENV
            echo "DB_NAME=modtale" >> $GITHUB_ENV
            echo "SEEDING_ENABLED=false" >> $GITHUB_ENV
            echo "FRONTEND_DOMAIN=https://dev.modtale.net" >> $GITHUB_ENV
            echo "TAG=dev" >> $GITHUB_ENV
            echo "R2_BUCKET_NAME=modtale-binaries" >> $GITHUB_ENV
            echo "R2_PUBLIC_DOMAIN=https://cdn.modtale.net" >> $GITHUB_ENV
            echo "WARDEN_SECRET_NAME=WARDEN_API_KEY" >> $GITHUB_ENV
            
          else
            SLUG=$(echo $BRANCH_NAME | sed 's/[^a-zA-Z0-9-]/-/g' | tr '[:upper:]' '[:lower:]' | cut -c 1-20 | sed 's/-$//')
            echo "ENV_TYPE=preview" >> $GITHUB_ENV
            echo "BACKEND_SERVICE=modtale-backend-$SLUG" >> $GITHUB_ENV
            echo "FRONTEND_SERVICE=modtale-frontend-$SLUG" >> $GITHUB_ENV
            echo "DB_NAME=modtale-$SLUG" >> $GITHUB_ENV
            echo "SEEDING_ENABLED=true" >> $GITHUB_ENV
            echo "TAG=$SLUG" >> $GITHUB_ENV
            echo "R2_BUCKET_NAME=modtale-dev" >> $GITHUB_ENV
            echo "R2_PUBLIC_DOMAIN=https://pub-dc8241faa0a343c080802bf00bc72bc5.r2.dev" >> $GITHUB_ENV
            echo "WARDEN_SECRET_NAME=WARDEN_API_KEY" >> $GITHUB_ENV
          fi

      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Build and Deploy Backend
        run: |
          cd backend
          gcloud builds submit --tag gcr.io/$PROJECT_ID/modtale-backend:${{ env.TAG }} .
          
          ARGS=(
            "--image" "gcr.io/$PROJECT_ID/modtale-backend:${{ env.TAG }}"
            "--region" "$REGION"
            "--allow-unauthenticated"
            "--update-env-vars" "MONGODB_DATABASE_NAME=${{ env.DB_NAME }}"
            "--update-env-vars" "SEEDING_ENABLED=${{ env.SEEDING_ENABLED }}"
            "--update-env-vars" "SEEDING_SOURCE_DB=modtale"
            "--update-env-vars" "WARDEN_URL=${{ secrets.WARDEN_URL }}"
            "--update-env-vars" "WARDEN_ENABLED=true"
            "--update-env-vars" "FRONTEND_URL=placeholder"
            "--update-env-vars" "R2_BUCKET_NAME=${{ env.R2_BUCKET_NAME }}"
            "--update-env-vars" "R2_PUBLIC_DOMAIN=${{ env.R2_PUBLIC_DOMAIN }}"
          )

          if [ "${{ env.ENV_TYPE }}" = "prod" ]; then
            ARGS+=("--update-secrets" "WARDEN_API_KEY=${{ env.WARDEN_SECRET_NAME }}:latest")
          else
            ARGS+=("--update-secrets" "MONGODB_URI=MONGODB_URI:latest")
            ARGS+=("--update-secrets" "R2_ACCESS_KEY=R2_ACCESS_KEY:latest")
            ARGS+=("--update-secrets" "R2_SECRET_KEY=R2_SECRET_KEY:latest")
            ARGS+=("--update-secrets" "R2_ENDPOINT=R2_ENDPOINT:latest")
            ARGS+=("--update-secrets" "SMTP_HOST=SMTP_HOST:latest")
            ARGS+=("--update-secrets" "SMTP_USERNAME=SMTP_USERNAME:latest")
            ARGS+=("--update-secrets" "SMTP_PASSWORD=SMTP_PASSWORD:latest")
            ARGS+=("--update-secrets" "PRE_AUTH_SECRET=PRE_AUTH_SECRET:latest")
            ARGS+=("--update-secrets" "WEBHOOK_URL=WEBHOOK_URL:latest")
            ARGS+=("--update-secrets" "HYTALEMODDING_KEY=HYTALEMODDING_KEY:latest")
            ARGS+=("--update-secrets" "GITHUB_CLIENT_ID=GITHUB_CLIENT_ID:latest")
            ARGS+=("--update-secrets" "GITHUB_CLIENT_SECRET=GITHUB_CLIENT_SECRET:latest")
            ARGS+=("--update-secrets" "GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID:latest")
            ARGS+=("--update-secrets" "GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET:latest")
            ARGS+=("--update-secrets" "GITLAB_CLIENT_ID=GITLAB_CLIENT_ID:latest")
            ARGS+=("--update-secrets" "GITLAB_CLIENT_SECRET=GITLAB_CLIENT_SECRET:latest")
            ARGS+=("--update-secrets" "DISCORD_CLIENT_ID=DISCORD_CLIENT_ID:latest")
            ARGS+=("--update-secrets" "DISCORD_CLIENT_SECRET=DISCORD_CLIENT_SECRET:latest")
            ARGS+=("--update-secrets" "TWITTER_CLIENT_ID=TWITTER_CLIENT_ID:latest")
            ARGS+=("--update-secrets" "TWITTER_CLIENT_SECRET=TWITTER_CLIENT_SECRET:latest")
            ARGS+=("--update-secrets" "BLUESKY_CLIENT_ID=BLUESKY_CLIENT_ID:latest")
            ARGS+=("--update-secrets" "WARDEN_API_KEY=${{ env.WARDEN_SECRET_NAME }}:latest")
          fi

          gcloud run deploy ${{ env.BACKEND_SERVICE }} "${ARGS[@]}" --format="value(status.url)" > backend_url.txt

      - name: Determine API URL
        run: |
          if [ "${{ env.ENV_TYPE }}" = "prod" ]; then
            echo "API_URL=${{ env.FIXED_BACKEND_URL }}" >> $GITHUB_ENV
          else
            echo "API_URL=$(cat backend/backend_url.txt)/api/v1" >> $GITHUB_ENV
          fi

      - name: Build and Deploy Frontend
        run: |
          cd frontend
          gcloud builds submit \
            --config=cloudbuild.yml \
            --substitutions=_PUBLIC_API_URL=${{ env.API_URL }},_TAG=${{ env.TAG }} .
          
          gcloud run deploy ${{ env.FRONTEND_SERVICE }} \
            --image gcr.io/$PROJECT_ID/modtale-frontend:${{ env.TAG }} \
            --region $REGION \
            --allow-unauthenticated \
            --set-env-vars PUBLIC_API_URL=${{ env.API_URL }} \
            --format="value(status.url)" > frontend_url.txt

      - name: Determine Frontend URL
        run: |
          if [ "${{ env.ENV_TYPE }}" = "preview" ]; then
            echo "FINAL_FRONTEND_URL=$(cat frontend/frontend_url.txt)" >> $GITHUB_ENV
          else
            echo "FINAL_FRONTEND_URL=${{ env.FRONTEND_DOMAIN }}" >> $GITHUB_ENV
          fi

      - name: Update Backend CORS
        run: |
          gcloud run services update ${{ env.BACKEND_SERVICE }} \
            --region $REGION \
            --update-env-vars FRONTEND_URL=${{ env.FINAL_FRONTEND_URL }}
